{% load static %}
<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="{% static 'media/images/temporal-ico.ico' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% block link %}
    {% endblock link %}
</head>
<body class="landing">
    {% block nav %}
    {% endblock %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    {% block footer %}
    {% endblock footer %}

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' }"></script>
    <script src="{% static 'js/jquery.scrolly.min.js' }"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' }"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' }"></script>
    <script src="{% static 'js/skel.min.js' }"></script>
    <script src="{% static 'js/util.js' }"></script>
    <script src="{% static 'js/main.js' }"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>