{% load static %}
<header id="header">
  <h1 id="logo">
    <a href="index.html">
      <div id="content-title">
        <img id="img-nav" src="{% static 'images/clinkraterizado.png' %}" alt="Cink | Capital">
        <p></p>
      </div>
    </a>
  </h1>

  <nav id="nav">
    <ul>
      <li><a class="scrolly" href="#objetivo">Objetivo</a></li>
      <li><a class="scrolly" href="#que-hacemos">¿Qué hacemos?</a>
      </li>
      <li><a href="#proyectos" class="button special scrolly">Nuestro Portafolio</a></li>
    </ul>
  </nav>
</header>