{% extends "base/base_nav_footer.html" %}

{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock page_title %}

{% block content %}
<section id="banner">
  <div class="content">
    <header>
      <h2>Slogan aquí</h2>
      <p>
        <strong>Somos</strong> una promotora de inversión de <br>
        levantamiento de <strong>capital privado</strong>
      </p>
    </header>
    <span class="image"><img src="{% static 'images/clinkraterizado-c.png' %}" alt="" /></span>
  </div>
  <a href="#one" class="goto-next scrolly">Next</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
  <span class="image fit main"><img src="{% static 'images/banner_2.jpg' %}" alt="" /></span>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="3u 12u$(medium)">
          <header>
            <h2>Nos enfocamos</h2>
          </header>
        </div>
        <div class="9u 12u$(medium)">
          <p>
            en buscar capital, para darle crecimiento y acelaración a PYMES, que tienen un proyecto <strong>innovador.</strong>
            orientado principalmente, en sectores de <strong>tecnología, telecomunicaciones, internet y energías renovables.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
  <span class="image fit main"><img src="{% static 'images/banner_3.jpg' %}" alt="" /></span>
  <div class="content">
    <header>
      <h2>¿Qué hacemos?</h2>
    </header>
    <ul>
      <li>Conectamos y enlazamos el capital de los inversionistas con los empleadores.</li>
      <li>Democratizamos la inversión al público inversionista a través del <strong>crowdfunding.</strong></li>
      <li>Informamos a los inversionistas de las mejores opciones de inversión para su capital.</li>
      <li>Gestionamos y apoyamos a los emprendedores y a las PYMES a <strong>maximizar sus ideas y sus recursos</strong>.</li>
    </ul>
    <ul class="actions">
      <li><a href="#" class="button">Conoce más</a></li>
    </ul>
  </div>
  <a href="#three" class="goto-next scrolly">Next</a>
</section>

<!-- Three -->
<section id="three" class="wrapper style1 special fade-up">
  <div class="container">
    <header class="major">
      <h2>Accumsan sed tempus adipiscing blandit</h2>
      <p>
        Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat
      </p>
    </header>
    <div class="box alt">
      <div class="row uniform">
        <section class="4u 6u(medium) 12u$(xsmall)">
          <span class="icon alt major fa-area-chart"></span>
          <h3>Ipsum sed commodo</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
          </p>
        </section>
        <section class="4u 6u$(medium) 12u$(xsmall)">
          <span class="icon alt major fa-comment"></span>
          <h3>Eleifend lorem ornare</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
          </p>
        </section>
        <section class="4u$ 6u(medium) 12u$(xsmall)">
          <span class="icon alt major fa-flask"></span>
          <h3>Cubilia cep lobortis</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
          </p>
        </section>
        <section class="4u 6u$(medium) 12u$(xsmall)">
          <span class="icon alt major fa-paper-plane"></span>
          <h3>Non semper interdum</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
          </p>
        </section>
        <section class="4u 6u(medium) 12u$(xsmall)">
          <span class="icon alt major fa-file"></span>
          <h3>Odio laoreet accumsan</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
          </p>
        </section>
        <section class="4u$ 6u$(medium) 12u$(xsmall)">
          <span class="icon alt major fa-lock"></span>
          <h3>Massa arcu accumsan</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
          </p>
        </section>
      </div>
    </div>
    <footer class="major">
      <ul class="actions">
        <li><a href="#" class="button">Magna sed feugiat</a></li>
      </ul>
    </footer>
  </div>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special fade">
  <div class="container">
    <header>
      <h2>Magna faucibus lorem diam</h2>
      <p>
        Ante metus praesent faucibus ante integer id accumsan eleifend
      </p>
    </header>
    <form method="post" action="#" class="container 50%">
      <div class="row uniform 50%">
        <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
        <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script>document.write('<script src="http://'
  + location.host.split(':')[0]
  + ':35729/livereload.js"></'
  + 'script>')</script>
  {% endblock javascript %}

